@{
    ViewBag.Title = "Página inicial";
}
<body style="background-color:lightcyan">


    <img src="~/fonts/chuck.jpeg" style=" margin-top: 25px; margin-left: auto; margin-right: auto; display:block" />



    <div class="row">
        <div>
            <h2 style="text-align:center">Teste para a posição de Desenvolvedor Júnior na Tempus Software</h2>

            <p style="font-size: 12pt;">Sistema de cadastro de clientes e geração de relatórios com interface e funções simples.</p>
            <p style="font-size: 12pt;">
                O sistema de cadastro, apesar de simples, foi feito com certa dificuldade devido às dificuldades de acesso que tive. Mas mesmo com o tempo apertado, pude entregar o projeto cumprindo todos os requisitos. Enfim, espero que gostem!
            </p>
            <p style="text-align:center">
                <a class="btn btn-default"style=" margin-left: 3px; margin-right: 3px" href="https://api.whatsapp.com/send?phone=5561996950599">Whatsapp &raquo;</a>

                <a class="btn btn-default"style=" margin-left: 3px; margin-right: 3px" href="https://github.com/zecaguiarr">Git &raquo;</a>

                <a class="btn btn-default"style=" margin-left: 3px; margin-right: 3px" href="https://www.linkedin.com/in/colemar-aguiar/">Linkedin &raquo;</a>
            </p>
        </div>
    </div>

</body>




